# dependencies
/node_modules
/.pnp
.pnp.*

# next.js build output
/.next/
/out/
/build

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
/coverage

# production
.vercel

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# os files
.DS_Store
*.pem
